<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorator="layout">
<head>
</head>
<body>
<div layout:fragment="content">
    <h2 class="subtitle is-4">Premiumモード (Beta)</h2>
    <div class="notification is-info">
        タイトルに🅿のつく記事はポイントを消費します。<br/>
        一度購読すれば、以降はポイントの消費は発生しません。<br/>
        <br/>
        ポイントはAmazonギフト券によるカンパで追加できるようにする予定です。<br/>
    </div>
    <table class="table is-bordered">
        <tr>
            <th>GitHub</th>
            <td sec:authentication="principal.github"></td>
        </tr>
        <tr>
            <th>Email</th>
            <td sec:authentication="principal.email"></td>
        </tr>
        <tr>
            <th>Point</th>
            <td><strong th:text="${point.point}"></strong> Pt</td>
        </tr>
    </table>
</div>
</body>
</html>