<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:inline="text">[[${entry.frontMatter.title}]] - BLOG.IK.AM</title>
    <meta content="https://blog.ik.am/apple-icon-120x120.png" name="twitter:image:src"/>
    <meta content="@making" name="twitter:site"/>
    <meta content="summary" name="twitter:card"/>
    <meta content="BLOG.IK.AM" name="twitter:title"/>
    <meta th:content="${entry.frontMatter.title}" name="twitter:description"/>
</head>
<body>
<div layout:fragment="content">
    <article class="card is-fullwidth">
        <header class="card-header">
            <p class="card-header-title">
                <a th:href="@{'/entries/' + ${entry.entryId}}" th:text="${entry.frontMatter.title}">Hello</a>
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                <p class="article-meta" th:inline="text">updated at [[${entry.updated.date}]] by
                    <a th:href="@{'/users/' + ${entry.updated.name} + '/entries?updated'}"
                       th:text="${entry.updated.name}"></a>
                    created at [[${entry.created.date}]] by
                    <a th:href="@{'/users/' + ${entry.created.name} + '/entries'}"
                       th:text="${entry.created.name}"></a><br/>
                    category: <span th:utext="${@categoriesRenderer.render(entry.frontMatter.categories)}"></span><br/>
                    tags: <span th:utext="${@tagRenderer.render(entry.frontMatter.tags)}"></span>
                </p>

                <p class="control has-addons">
                    <a class="button"
                       th:href="${'https://github.com/making/blog.ik.am/edit/master/content/' + #numbers.formatInteger(entry.entryId, 5, 'NONE') + '.md'}">Edit</a>
                    <a class="button"
                       th:href="${'https://github.com/making/blog.ik.am/commits/master/content/' + #numbers.formatInteger(entry.entryId, 5, 'NONE') + '.md'}">History</a>
                </p>

                <div class="notification is-warning" th:if="${@obsoleteChecker.isWarning(entry)}">
                    本記事は最終更新日から1年以上経過しており、内容が古い可能性があります。注意して読んでください。
                </div>

                <div class="notification is-danger" th:if="${@obsoleteChecker.isDanger(entry)}">
                    本記事は最終更新日から3年以上経過しており、内容が古いです。
                </div>

                <p th:utext="${@marked.marked(entry.content)}">Content</p>

                <p id="share">
                    <!-- Twitter -->
                    <a href="https://twitter.com/share" class="twitter-share-button" data-via="making">Tweet</a>
                    <script>!function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                        if (!d.getElementById(id)) {
                            js = d.createElement(s);
                            js.id = id;
                            js.src = p + '://platform.twitter.com/widgets.js';
                            fjs.parentNode.insertBefore(js, fjs);
                        }
                    }(document, 'script', 'twitter-wjs');</script>
                    <!-- Hatena Bookmark -->
                    <a href="http://b.hatena.ne.jp/entry/https://blog.ik.am"
                       th:href="${'http://b.hatena.ne.jp/entry/https://blog.ik.am/entries/' + entry.entryId}"
                       class="hatena-bookmark-button"
                       data-hatena-bookmark-title="BLOG.IK.AM"
                       data-hatena-bookmark-layout="standard-balloon"
                       data-hatena-bookmark-lang="en"
                       title="このエントリーをはてなブックマークに追加"
                       th:attr="data-hatena-bookmark-title=${entry.frontMatter.title + ' - BLOG.IK.AM'}">
                        <img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png"
                             alt="このエントリーをはてなブックマークに追加"
                             width="20" height="20" style="border: none;"/></a>
                    <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8"
                            async="async"></script>
                </p>
            </div>
        </div>
    </article>
    <script th:src="@{/css/highlight/highlight.pack.js}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</div>
</body>
</html>
