<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
</head>
<body>
<div layout:fragment="content">
    <div>
        <article class="card is-fullwidth" th:each="entry : ${page.content}">
            <header class="card-header">
                <p class="card-header-title">
                    <a th:href="@{'/this-week-in-making/' + ${entry.entryId}}" th:text="${entry.frontMatter.title}">Hello</a>
                </p>
            </header>
        </article>
    </div>
    <br />
    <div>
        <ul class="pagination" th:utext="${@paginationRenderer.render(page)}">
        </ul>
    </div>
    <script th:src="@{/highlight/highlight.pack.js}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script th:src="@{/superagent.js}"></script>
    <script th:src="@{/app.js}"></script>
</div>
</body>
</html>